# Introduction to Data Cleaning
This notebook will guide you through the process of cleaning and preparing the weather dataset for analysis.


## Step 1: Load and Explore the Dataset
### Task:
- Import necessary libraries (e.g., pandas).
- Load the weather dataset into a DataFrame.
- Explore the structure and summary statistics of the dataset.

In [16]:
import pandas as pd
import numpy as np

url = "weather-raw.csv"
df = pd.read_csv(url)

df.head(20)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN


## Step 2: Handle Missing Values
### Task:
- Identify missing values in the dataset.
- Apply appropriate methods to handle these missing values (e.g., imputation or removal).

In [18]:
df.isnull().sum()
df_na = df.fillna(0)


## Step 3: Correct Data Types
### Task:
- Inspect the data types of each column.
- Convert columns to their appropriate data types (e.g., dates, numeric values).

In [30]:

df_na["year_period"] = df["year"].astype(str).astype("period[Y]")
df_na.dtypes

id                    object
year                   int64
month                  int64
element               object
d1                   float64
d2                   float64
d3                   float64
d4                   float64
d5                   float64
d6                   float64
d7                   float64
d8                   float64
d9                   float64
d10                  float64
d11                  float64
d12                  float64
d13                  float64
d14                  float64
d15                  float64
d16                  float64
d17                  float64
d18                  float64
d19                  float64
d20                  float64
d21                  float64
d22                  float64
d23                  float64
d24                  float64
d25                  float64
d26                  float64
d27                  float64
d28                  float64
d29                  float64
d30                  float64
d31                  float64
year_period    period[Y-DEC]
dtype: object

In [29]:
df_na.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d23,d24,d25,d26,d27,d28,d29,d30,d31,year_period
0,MX17004,2010,1,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.8,0.0,2010
1,MX17004,2010,1,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,0.0,2010
2,MX17004,2010,2,tmax,0.0,27.3,24.1,0.0,0.0,0.0,...,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2010
3,MX17004,2010,2,tmin,0.0,14.4,14.4,0.0,0.0,0.0,...,10.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2010
4,MX17004,2010,3,tmax,0.0,0.0,0.0,0.0,32.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2010


## Step 4: Tidy the Dataset
### Task:
- Reshape the dataset as needed to ensure it adheres to tidy data principles.
- Use techniques such as melting or pivoting to organize variables into columns.


## Step 5: Validate and Save
### Task:
- Ensure that your cleaned dataset is free of inconsistencies.
- Save the cleaned dataset as `cleaned_weather.csv`.


## Step 6: Bonus Task - Outlier Detection
### Task:
- Identify any outliers in the cleaned dataset.
- Create a separate DataFrame containing these outliers and save it as `outliers.csv`.